# Analyzing and Predicting video game sales

Video games are quickly becoming one of the largest entertainment industries in the World. Massive studios are being bought by tech giants such as Microsoft for billions of dollars while companies like Amazon and Netflix are dipping in their toe into oppressing the most oppressed class to ever exist in human history, Gamers.

In [2]:
# Import relevant packages 
import pandas as pd
import numpy as np
import matplotlib as plt

We will be looking at the dataset of the highest video game sales of all time. Credit to this Kaggler for the dataset: [Video Game Sales dataset](https://www.kaggle.com/datasets/thedevastator/global-video-game-sales).

In [28]:
# import dataset into notebook
df = pd.read_csv('\\Users\\cjthe\\Desktop\\DataStuff\\Datasets\\vgsales.csv')

In [31]:
game_count = df.shape[0]
print(f"The dataset contains {game_count} rows.")

The dataset contains 16598 rows.

In [23]:
# Look at the first few records in the dataset
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Based on this data, we can assume Wii Sports has the most sales of any game ever. Who has sold the most in each region?

In [24]:
df[df.NA_Sales == df.NA_Sales.max()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [25]:
df[df.EU_Sales == df.EU_Sales.max()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [27]:
df[df.JP_Sales == df.JP_Sales.max()]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.0,31.37

Wii Sports boasts the most sales in both NA and EU but Pokemon wins the crown in Japan. Both games are made by Japanese companies but Pokemon performed much better.

Next step: <br>Clean data

Future enhancements:<br><br>Metacritic scores<br>Dividing sales by difference of max year of dataset and year to get average sales.

Look at Genre, Publisher and Platform levels

Predict sales for NA, EU and JP based on features.